<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)"/>
  <arg name="map_file" default="$(find turtlebot3_waypoint_navigation)/maps/map_house.yaml"/>
  <arg name="open_rviz" default="true"/>

  <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
    <arg name="model" value="$(arg model)"/>
    <arg name="map_file" value="$(arg map_file)"/>
    <arg name="open_rviz" value="$(arg open_rviz)"/>
  </include>
</launch>
